server:
  port: 8002

spring:
  profiles:
    active: dev
  application:
    name: han-provider-user

  jpa:
    generate-ddl: false
    show-sql: true
    database: mysql
    hibernate:
      ddl-auto: none
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQL5Dialect
  # 数据源配置
  datasource:
    platform: mysql
    username: root
    password: root
    # mysql6+ 需要配置此参数 serverTimezone
    url: jdbc:mysql://localhost:3306/bboyhan?serverTimezone=UTC&useUnicode=true&characterEncoding=UTF-8

logging:
  level:
    root: INFO
    org.hibernate: INFO
#    org.hibernate.type.descriptor.sql.BasicBinder: TRACE (输出传入的sql参数)
#    org.hibernate.type.descriptor.sql.BasicExtractor: TRACE (输出返回的结果参数)